Micropub: HTTP "authorization" header not accepted (case-sensitive)

## While trying to do this:
Send a micropub request with the bearer token in an `authorization` header (lowercase)

## I encountered this error:
Not authenticated

## Some other notes:
Sending the bearer token as `Authorization: Bearer 12345` works, but `authorization: Bearer 12345` (lowercase or otherwise cased) does not work.

[HTTP 1.1 RFC 2616 section 4.2](https://tools.ietf.org/html/rfc2616#section-4.2) says:

> Field names are case-insensitive.

----
Related to snarfed/wordpress-micropub#34

Not using the native `getallheaders()` function (as suggested in #1509) will solve this issue.